<ion-split-pane contentId="content">
<ion-menu side="start" contentId="content">
      <ion-header>
        <ion-toolbar translucent>
          <ion-title>Menu</ion-title>
          <ion-buttons slot="end">
              <ion-button (click)="closeMenu()">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Inbox</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="paper-plane" slot="start"></ion-icon>
            <ion-label>Outbox</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="heart" slot="start"></ion-icon>
            <ion-label>Favorites</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="archive" slot="start"></ion-icon>
            <ion-label>Archived</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="trash" slot="start"></ion-icon>
            <ion-label>Trash</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="warning" slot="start"></ion-icon>
            <ion-label>Spam</ion-label>
          </ion-item>
          <ion-item (click)="logOut()">
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>LogOut</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>