<ion-header>
  <ion-toolbar>
    <ion-title>{{artist + "- Top tracks" }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="selectSong(null)">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let song of songs; index as i" (click) ="selectSong(song)">
    <ion-avatar>
      {{ i+1 }}
    </ion-avatar>
    <ion-label>
      <h2>{{ song.name }}</h2>
      <h3>{{ song?.album?.name || song?.artists[0]?.name }}</h3>
      <p> {{ song?.popularity || song?.track_number }}</p>
    </ion-label>

  </ion-item>
</ion-content>
