ion-avatar {
  height: 120px;
  width: 90%;
}

ion-content h1 {
  margin-top: 5px;
}

ion-avatar img {
  width: 90px;
  height: 80px;
}

ion-avatar ion-skeleton-text {
  width: 80px;
  height: 90px;
}

.squere-avatar {
  --border-radius: 0px;
}

ion-avatar span {
  font-size: 0.5em;
  line-height: 15px;
  display: block;
  font-weight: bold;
}

ion-range {
  padding-top: 10px;
}